# Ignore log files
logs/
*.log

# Ignore cache files
*.pkl

# Ignore Excel files
*.xlsx

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore virtual environment
venv/
